$font-root: "../fonts" !default;

@use "nord/src/sass/nord.scss";

@use "bulma/bulma.sass" with (
    $background: nord.$nord0,
    $scheme-main: nord.$nord0,
    $scheme-main-bis: nord.$nord1,
    $white-bis: nord.$nord1,
    $scheme-main-ter: nord.$nord2,
    $white-ter: nord.$nord2,
    $grey-dark: nord.$nord5,
    $grey-darker: nord.$nord6,
    $turquoise: nord.$nord7,
    $blue: nord.$nord10,
    $cyan: nord.$nord8,
    $red: nord.$nord11,
    $orange: nord.$nord12,
    $yellow: nord.$nord13,
    $green: nord.$nord14,
    $purple: nord.$nord15
);

$orange: nord.$nord12;
$yellow: nord.$nord13;
$green: nord.$nord14;
$turquoise: nord.$nord7;
$cyan: nord.$nord8;
$light-blue: nord.$nord9;
$blue: nord.$nord10;
$purple: nord.$nord15;
$red: nord.$nord11;

$background: nord.$nord0;
$text: nord.$nord6;

@font-face {
    font-family: 'Graphik';
    src: url('#{$font-root}/graphik/graphik-regular.otf');
};

@font-face {
    font-family: 'Kawak';
    src: url('#{$font-root}/kawak/kawak-regular.otf');
};

@font-face {
    font-family: 'Kawak';
    src: url('#{$font-root}/kawak/kawak-bold.otf');
    font-weight: bold;
};


$bodyFont: 'Graphik', 'Roboto', sans-serif;
$headerFont: 'Kawak', sans-serif;
